<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/resstyle.css">
</head>

<body>
    <!-- header start -->
    <header>
        <div class="logo">
            <a href="">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/api/users/about">About</a></li>
        </ul>
    </header>
    <!-- header complete -->

    <div class="about-container">
        <div class="head1">
            <p><b>Your Shields Against</b></p>
            <p><b>Fake Reviews</b></p>
        </div>
        <div class=" head2">
            <p>Detecting fake reviews for informed decisions. Your trusted ally in the digital marketplace. Shop confidently with genuine feedback.</p>
        </div>
        <div class="head3">
            <a href="/api/users/Register"><button class="button" style="vertical-align:middle"><span>Create Account</span></button></a>
        </div>
        <div class="head4">
            <p>Already have an account? <a href="/api/users/login" style="color: black;"><b>Log in</b></a></p>
        </div>
    </div>


    <!-- footer start -->
    <footer>
        <div class="main-footer">
            <img src="/images/logo.png" alt="">
            <div class="social">
                <a href="https://www.facebook.com/"><img src="/images/facebook-app-symbol.png" alt=""></a>
                <a href="https://www.instagram.com/"><img src="/images/instagram.png" alt=""></a>
            </div>
        </div>
        <hr>
        <div class="cpyright">
            © 2024 ReviewGuard|All Right Reserved
        </div>
    </footer>
</body>

</html>