<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/resstyle.css">
</head>

<body>
    <!-- header start -->
    <header>
        <div class="logo-login" style="margin-left: 40%;">
            <a href="">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
    </header>
    <!-- header complete -->

    <div class="about-container">
        <form action="/api/users/register" method="POST">
            <div class="container">
                <h1>Create Account</h1>
                
                <!-- <%if(error){%>
                <small class="error">
                    <%=error%>
                </small>
                <%}%> -->

                <div class="field-holder">
                    <input type="text" name="fullname" id="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="field-holder">
                    <input type="text" name="email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="field-holder">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <br>
                <button type="submit" class="registerbtn">Create Account</button>
                <br>
                <p class="sign-in">Already have an account? <a href="/api/users/login"><b>Log in</b></a></p>
            </div>
        </form>
    </div>


    <!-- footer start -->
    <footer>
        <div class="cpyright">
            © 2024 ReviewGuard|All Right Reserved
        </div>
    </footer>
</body>



</html>