<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/resstyle.css">
</head>

<body>
    <!-- header start -->
    <header>
        <div class="logo-login" style="margin-left: 40%;">
            <a href="">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
    </header>
    <!-- header complete -->

    <div class="about-container">
        <form action="/api/users/update-user?_method=put" method="POST">
            <div class="container">
                <h1>Update User Form</h1>
                <div class="field-holder">
                    <input type="text" name="fullname" id="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="field-holder">
                    <input type="text" name="email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <br>
                <button type="submit" class="registerbtn">Update</button>
            </div>
        </form>
    </div>


    <!-- footer start -->
    <footer>
        <div class="cpyright">
            © 2024 ReviewGuard|All Right Reserved
        </div>
    </footer>
</body>



</html>